# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import warnings
warnings.filterwarnings('ignore')
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv('..\Python-API\output_data\data_city.csv')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key) # Fill in with your API key


city_data_df.head()

,Unnamed: 0,city,lat,lon,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,0,bredasdorp,-34.53,20.04,50.00,81,0,2.24,ZA,1603225932
1,1,kinshasa,-4.32,15.32,82.40,74,20,2.24,CD,1603225933
2,2,mitu,1.20,-70.17,81.05,90,99,2.01,CO,1603225933
3,3,rikitea,-23.12,-134.97,73.51,79,0,14.97,PF,1603225933
4,4,lannion,48.75,-3.42,59.00,87,100,9.17,FR,1603225933

In [4]:
locations = city_data_df[['lat', 'lon']]
weights = city_data_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#temperature less than 85 greater than 32
#humidity less than 30
#windspeed greater than 10 less than 20

weather_criteria = city_data_df.loc[(city_data_df["Max Temp"] <85)&
                 (city_data_df["Max Temp"] >32) &
                 (city_data_df["Humidity"] >30) & 
                 (city_data_df["Windspeed"] <10)&
               (city_data_df["Windspeed"] >0)]

weather_criteria.head()

,Unnamed: 0,city,lat,lon,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,0,bredasdorp,-34.53,20.04,50.00,81,0,2.24,ZA,1603225932
1,1,kinshasa,-4.32,15.32,82.40,74,20,2.24,CD,1603225933
2,2,mitu,1.20,-70.17,81.05,90,99,2.01,CO,1603225933
4,4,lannion,48.75,-3.42,59.00,87,100,9.17,FR,1603225933
5,5,moramanga,-18.93,48.20,63.05,89,99,1.83,MG,1603225933

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = weather_criteria

In [7]:
hotel_df['hotel_name'] = ""
hotel_df

,Unnamed: 0,city,lat,lon,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date,hotel_name
0,0,bredasdorp,-34.53,20.04,50.00,81,0,2.24,ZA,1603225932,
1,1,kinshasa,-4.32,15.32,82.40,74,20,2.24,CD,1603225933,
2,2,mitu,1.20,-70.17,81.05,90,99,2.01,CO,1603225933,
4,4,lannion,48.75,-3.42,59.00,87,100,9.17,FR,1603225933,
5,5,moramanga,-18.93,48.20,63.05,89,99,1.83,MG,1603225933,
...,...,...,...,...,...,...,...,...,...,...,...
552,552,meaford,44.60,-80.58,46.00,75,100,1.01,CA,1603225990,
554,554,ndele,8.41,20.65,73.87,83,83,2.46,CF,1603226014,
555,555,berlevag,70.86,29.09,33.80,80,75,3.36,NO,1603226014,
560,560,morehead,37.27,-87.18,71.01,100,90,5.21,US,1603226015,
561,561,lasa,46.62,10.70,51.01,93,75,5.82,IT,1603226015,

In [8]:

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    #Get lat and lon for df
    lat= row["lat"]
    lon = row["lon"]
    
    # add keyword to params dict
    params['location'] = f"{lat}, {lon}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # assemble url and make API request
 
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        hotel_df.loc[index,"hotel_name"] = response['results'][0]['name']
        print(f"Retrieving Results for Index {index}: {city}.")
 
    except:
        print(f'Missing Results...') 
        pass

Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...
Missing Results...

In [9]:
hotel_df.head()

,Unnamed: 0,city,lat,lon,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date,hotel_name
0,0,bredasdorp,-34.53,20.04,50.00,81,0,2.24,ZA,1603225932,Bredasdorp Country Manor
1,1,kinshasa,-4.32,15.32,82.40,74,20,2.24,CD,1603225933,Kabinda Center
2,2,mitu,1.20,-70.17,81.05,90,99,2.01,CO,1603225933,
4,4,lannion,48.75,-3.42,59.00,87,100,9.17,FR,1603225933,Hotel Arcadia
5,5,moramanga,-18.93,48.20,63.05,89,99,1.83,MG,1603225933,Espace VANILLA

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [13]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))